* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
 
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Styling the list items */
  ul li {
    cursor: auto;
    position: relative;
    /* padding: 5px 5px 5px 5px; */
    background: #ffffff;
    font-size: 15px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Darker background-color on hover */
ul li:hover {
    background: #ddd;
  }



/* Style the custom checkbox container */
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 1px; /* Adjust the padding to match your design */
    cursor: pointer;
  }
  

   */
  /* Style the checkmark icon (hidden by default) */
  .checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Show the checkmark icon when the checkbox is checked */
  .checkbox-container input[type="checkbox"]:checked + .checkbox-checkmark:after {
    display: block;
  }
  
  /* Style the text next to the checkbox */
  .checkbox-label {
    margin-left: 35px; /* Adjust the margin to match your design */
  }
  
  /* Example of applying the custom checkbox to a list item */
  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
/* 
  .custom-checkbox .checkbox-container {

  }
  
  .custom-checkbox .checkbox-label {
  
  }
   */

















  /* When clicked on, strike out text */
/* ul li.checked input[type="checkbox"] {

    text-decoration: line-through;
  } */

  /* Add a "checked" mark when clicked on */
/* ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #17ea84;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  #custom-list {
    list-style-type: none;

  } */







  /* card layout */
  #card{
    width: 430px;
    margin: 18px;
    padding: 15px;
    border: 1px #cccccc solid;
    border-radius: 25px;
    box-shadow: 5px 5px rgba(119, 101, 101, 0.3)
  }
  
  #card-div{
    padding: 18px;
    border: 1px #cccccc solid;
    border-radius: 15px;  
  }
